* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #000;

    perspective: 1200px;

    font-family: Arial, Helvetica, sans-serif;
}

#scene {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transform-style: preserve-3d;

    overflow: hidden;
}

#heart {
    position: relative;

    width: 100vmin;
    height: 100vmin;

    max-width: 1400px;
    max-height: 1400px;

    transform-style: preserve-3d;
}

/* =========================
   CHỮ TRÊN TRÁI TIM
========================= */

.word {
    position: absolute;

    left: 50%;
    top: 50%;

    color: #ff8fd8;

    font-size: 18px;

    font-weight: bold;

    letter-spacing: 1px;

    white-space: nowrap;

    transform-style: preserve-3d;

    transform-origin: center center;

    user-select: none;

    will-change: transform;

    text-shadow: none;

    filter: none;

    -webkit-font-smoothing: antialiased;

    text-rendering: geometricPrecision;
}


/* =========================
   TIM BUNG KHI CLICK
========================= */

.click-heart {
    position: fixed;

    left: 0;
    top: 0;

    pointer-events: none;

    user-select: none;

    z-index: 99999;

    will-change: transform, opacity;

    transform-origin: center center;
}


/* =========================
   ĐIỆN THOẠI
========================= */

@media (max-width: 768px) {

    body {
        perspective: 1200px;
    }

    #scene {
        width: 100vw;
        height: 100vh;

        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #heart {
        width: 100vmin;
        height: 100vmin;

        max-width: none;
        max-height: none;

        transform-style: preserve-3d;
    }

    .word {
        font-size: 11px;

        letter-spacing: 0.4px;

        font-weight: bold;

        white-space: nowrap;

        transform-origin: center center;

        -webkit-font-smoothing: antialiased;

        text-rendering: geometricPrecision;
    }

    .click-heart {
        font-size: 24px;

        z-index: 99999;
    }
}


/* =========================
   MÁY TÍNH
========================= */

@media (min-width: 769px) {

    .word {
        font-size: 18px;

        letter-spacing: 1px;

        font-weight: bold;
    }

    .click-heart {
        font-size: 30px;

        z-index: 99999;
    }
}